<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Layout/css")
    @Scripts.Render("~/Layout/js")
    <link href="~/Content/Fonts/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Css/Custom.css" rel="stylesheet" />
</head>
@using MyFWUnity.Module.Base.DataContracts;
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a class="site_title">@*<img src="~/Content/images/Logo1.png" style="width:100px;margin-right:10px;" />*@
                        <span>后台管理系统</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="@(string.IsNullOrEmpty(ViewBag.UserInfo.UserFace)?"/Content/images/h.png":ViewBag.UserInfo.UserFace)" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@ViewBag.UserInfo.Name</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            @*<h3>General</h3>*@
                            <ul class="nav side-menu">
                                @*<li>
                                    <a href="/Admin/Home/Index"><i class="fa fa-home"></i> 首页 </a>
                                </li>*@
                                @if (ViewBag.MenuData != null)
                                {
                                    foreach (MenuDataInfo menu in ViewBag.MenuData)
                                    {
                                        if (menu.Childrens != null)
                                        {
                                            <li>
                                                @if (menu.IsShow)
                                                {
                                                    <a href="javascript:;"><i class="fa @menu.Icon"></i> @menu.Name <span class="fa fa-chevron-down"></span></a>
                                                }
                                                <ul class="nav child_menu">
                                                    @foreach (MenuDataInfo menuChildrens in menu.Childrens)
                                                    {
                                                        if (menuChildrens.IsShow)
                                                        {
                                                            <li>
                                                                <a href="@menuChildrens.Href"><i class="fa @menuChildrens.Icon"></i> @menuChildrens.Name </a>
                                                            </li>
                                                        }

                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            if (menu.IsShow)
                                            {
                                                <li>
                                                    <a href="@menu.Href"><i class="fa @menu.Icon"></i> @menu.Name </a>
                                                </li>
                                            }
                                        }

                                    }
                                }

                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    @*<div class="sidebar-footer hidden-small">
                            <a data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Lock">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div>*@
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav clearfix">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="@(string.IsNullOrEmpty(ViewBag.UserInfo.UserFace)?"/Content/images/h.png":ViewBag.UserInfo.UserFace)" alt="">@ViewBag.UserInfo.Name
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="/Admin/User/MyIndex"> 个人信息</a></li>
                                    @*<li>
                                        <a href="/Sys/Index">
                                            <span>设置</span>
                                        </a>
                                    </li>*@
                                    <li><a href="/Admin/Account/Logout"><i class="fa fa-sign-out pull-right"></i>退出登录</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col clearfix" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <!-- /footer content -->
        </div>
    </div>
    <script src="~/Content/Js/Custom.js"></script>

    @Html.Partial("~/Areas/Admin/Views/Partial/AllModalPartial.cshtml")
</body>
</html>
